<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ProgramVersion" value="1.8.2.1"/>
    <!-- -->
    <add key="AudioTimeout" value="10"/>
    <!-- 10 -->
    <add key="BacklightTimeout" value="18"/>
    <!-- 18 -->
    <add key="COINTimeout" value="5"/>
    <!-- 5 -->
    <add key="COM1Timeout" value="18"/>
    <!-- 18 -->
    <add key="ContactlessTimeout" value="20"/>
    <!-- 20 -->
    <add key="DisplayTimeout" value="30"/>
    <!-- 30 -->
    <add key="ECRTimeout" value="10"/>
    <!-- 10 -->
    <add key="EthernetTimeout" value="5"/>
    <!-- 5 -->
    <add key="IOETimeout" value="6"/>
    <!-- 6 -->
    <add key="KeypadTimeout" value="NONE"/>
    <!-- 20 -->
    <add key="LEDTimeout" value="NONE"/>
    <!-- 10 -->
    <add key="MBEETimeout" value="NONE"/>
    <!-- 6 -->
    <add key="MSRTimeout" value="NONE"/>
    <!-- 20 -->
    <add key="SAMTimeout" value="NONE"/>
    <!-- 30 -->
    <add key="SmartCardTimeout" value="NONE"/>
    <!-- 20 -->
    <add key="TouchscreenTimeout" value="NONE"/>
    <!-- 25 -->
    <add key="USBTimeout" value="NONE"/>
    <!-- 5 -->
    <add key="SDTimeout" value="NONE"/>
    <!-- 5 -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
